@import url("reset.css");




:root {

    --fonte-principal: 'DynaPuff', cursive;
    --cor-fundo: #4FA095;
    --cor-primaria: #F6F6C9;
}



body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo);
    color: var(--cor-primaria);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 90px;
    margin-bottom: 1em;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 40px;
}

.mensagem {
    font-size: 40px;
    margin-top: 2em;
}

.box {
    border: 3px solid var(--cor-primaria);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.btn-jogar {
    color: var(--cor-fundo);
    font-size: 20px;
    font-family: var(--fonte-principal);
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    margin-top: 20px;
    background: var(--cor-primaria);
}